{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}
    <head>
        <title>Game of Life</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
{% endblock %}


{% block content %}
<h2 class="text-center">
    {{ wtf.quick_form(form) }}
</h2>
<div class="container text-center"></div>
<p class="text-center"><button type="button" class="btn btn-success" id="nextgen">Next Generation</button></p>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>$SCRIPT_ROOT = {{ request.script_root|tojson }};</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript">
        var n = {{n}};
        var m = {{m}};
        {% if state %}
        var state = {{state}};
        {% endif %}
    </script>
    <script type="text/javascript" src="static/js/field.js"></script>
{% endblock %}