{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}
    <head>
        <title>Game of Life</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
   </head>
{% endblock %}


{% block content %}
<div class="text-center">
    <p>Dimensions:</p>
    <p>
        n: <input class="width-low" type="number" min="1" id="n" value="{% if state %}{{n}}{% else %}8{% endif %}">
        m: <input class="width-low" type="number" min="1" id="m" value="{% if state %}{{m}}{% else %}8{% endif %}">
    </p>
    <p>
        <button type="button" class="btn btn-dark" id="dims">Set</button>
    </p>
</div>
<p>
    <div class="container text-center" id="iboard"></div>
</p>
<p class="text-center"><button type="button" class="btn btn-primary" id="new_state">Submit</button></p>
<p>
    <div class="container text-center" id="board"></div>
</p>
<p class="text-center">
    <button type="button" class="btn btn-warning" id="nextgen">Next Generation</button>
    <button type="button" class="btn btn-success" id="play" style="display:inline-block">Play</button>
    <button type="button" class="btn btn-danger" id="stop" style="display:none">Stop</button>
</p>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>$SCRIPT_ROOT = {{ request.script_root|tojson }};</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript">
        {% if state %}
        var state = BigInt('{{state}}');
        var n = {{n}};
        var m = {{m}};
        {% else %}
        var state = BigInt(0);
        var n = 8;
        var m = 8;
        {% endif %}
    </script>
    <script type="text/javascript" src="static/js/field.js"></script>
{% endblock %}